@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .porto-bg {
        background-color: #0093E9;
        background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    }

    .porto-blob {
        background-image: url('/images/blobanimation.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .porto-glasmorph {
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }

    .porto-icon {
        width: 2rem;
        height: 2rem;
    }

    .porto-icon:hover {
        color: #fff;
    }

    .porto-icon-construction {
        width: 1.25rem;
        height: 1.25rem;
    }


    html,
    body {
        @apply select-none;
        color: black
    }
}
